.nodata-stytle{
    justify-content: center;
    /* text-decoration: solid; */
    color: rgba(194, 51, 51, 0.886);
    font-weight: 800;
    font-size: 25px;
    display: flex;
    border-radius: 5%;
    padding: 5%;
}