.displayscreenname {
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: linear-gradient(#2376a3, #010101db);
  color: aliceblue;
  justify-content: center;
}

.listofstickexcelbtn {
  margin-top: 5px;
}

.displayelements {
  /* display: flex;
  align-items: stretch; */
  /* justify-content: center; */
  padding-top: 5px;
  /* flex-flow: wrap; */
}

.linkdecor {
  text-decoration: none;
  color: black;
}

.cardline {
  position: absolute;
  margin-top: 1%;
  font-weight: bolder;
}

.displaysmalldata {
  margin-top: 3px;
  color: brown;
  font-size: smaller;
}

.spinnerstyle {
  margin-top: 20%;
  margin-left: 50%;
  display: flex;
  position: absolute;
}
